
<div data-role="header">Competitors for <%= event.name %></div>
<% competitors = Competitor.for_event(event) %>
<div data-role="content" >
  <ul data-role='listview' data-inset="true" data-filter="true">
  <% competitors.each do |competitor| %>
     <div data-role="collapsible">

    	<h3><%= competitor.name %></h3>
      <%= render "score_sheets/sheet",
          :event => event,
          :competitor => competitor,
          :judge => judge  %>
    </div>
    </li>
  <% end %>
  </ul>
</div>



